.plans{
    margin-top: -4rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: relative;
}
.plan-head{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    color: aliceblue;
    font-size: 3rem;
    justify-content: center;
}
.plan-card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.plan{
    display: flex;
    flex-direction: column;
    background: var(--caloryCard);
    color: aliceblue;
    gap: 2rem;
    padding: 1.5rem;
    width: 15rem;
}
.plan:nth-child(2){
     background: var(--red);
     transform: scale(1.1);
}
.plan>svg{
    fill: var(--red);
    width: 2rem;
    height: 2rem;
}

.plan>:nth-child(2){
    font-size: 2rem;
    font-weight: bold;
}
.plan>:nth-child(3){
    font-size: 3rem;
    font-weight: bold;
}
.plan>:nth-child(5){
font-size: 0.8rem;
}
.features{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.feature>img{
    width: 1rem;
}
.plan:nth-child(2)>svg{
    fill: aliceblue;
}
.plan:nth-child(2)>button{
    color: var(--red);
}
.plans-blur1{
    width: 32rem;
    height: 23rem;
    top: 10rem;
    left: 0;
}
.plans-blur2{
    width: 32rem;
    height: 23rem;
    top: 10rem;
    right: 0;
}

@media screen and (max-width: 768px){
  .plans{
    flex-direction: column;
  }   
  .plan-head{
    margin-top: 4rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: 2.1rem; 
  }
 .plan-card{
    display: flex;
    flex-direction: column;
 }
 .plan:nth-child(2){
    transform: none;
 }
}
