.home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-h {
  padding: 1.5rem 1rem 0.6rem 3rem;
  flex: 2.5;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.right-h {
  flex: 1;
  position: relative;
}

.ad {
  margin-top: 4rem;
  background-color: #363d42;
  border-radius: 4rem;
  width: fit-content;
  padding: 20px 13px;
  text-transform: uppercase;
  color: aliceblue;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ad > span {
  z-index: 2;
}
.ad > div {
  position: absolute;
  background-color: var(--red);
  width: 4.8rem;
  height: 80%;
  left: 8px;
  border-radius: 3rem;
  z-index: 1;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: bold;
  color: aliceblue;
  text-overflow: inherit;
}

.slogan {
  font-size: 1rem;
  font-weight: 200;
  text-transform: none;
  letter-spacing: 1px;
  width: 80%;
}

.data {
  display: flex;
  gap: 2rem;
}
.data > div {
  display: flex;
  flex-direction: column;
}

.data-span1 {
  color: aliceblue;
  font-size: 2rem;
}
.data-span2 {
  color: var(--gray);
  text-transform: uppercase;
}

.btn {
  background-color: aliceblue;
  padding: 0.5rem;
  font-weight: bold;
  transition: 300ms all;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.btn:hover {
  cursor: pointer;
}
.join {
  position: absolute;
  right: 3rem;
  top: 2rem;
  width: 140px;
  height: 50px;
  border-width: 1px;
  font-size: 1.1rem;
  color: var(--red);
  border: none;
  font-weight: bold;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;

  background: aliceblue;
}
.join:hover {
  background-color: aliceblue;
  box-shadow: 0px 10px 14px 0px rgb(87, 6, 6);
  color: var(--red);
  text-shadow: 0px 0.3px 0px rgba(87, 6, 6);
}

.banner {
  position: absolute;
  top: 16rem;
  right: 15rem;
  width: 15rem;
}
.banner_back {
  position: absolute;
  top: 7rem;
  right: 22rem;
  z-index: -1;
}
.blur-home {
  width: 22rem;
  height: 30rem;
  left: 0;
}

@media screen and (max-width: 768px) {
  .home {
    flex-direction: column;
  }
  .blur-home {
    width: 14rem;
  }
  .ad {
    margin-top: 0;
    font-size: small;
    align-self: center;
    transform: scale(0.8);
  }
  .heading {
    font-size: xx-large;
    align-items: center;
    justify-content: center;
  }
  .slogan {
    font-size: small;
    font-weight: 200;
    letter-spacing: 1px;
    text-align: center;
  }
  .data {
    gap: 0.8rem;
  }
  .data-span1 {
    font-size: large;
  }
  .data-span2 {
    font-size: small;
  }
  .right-h {
    position: relative;
    background: none;
  }
  .banner {
    position: relative;
    width: 15rem;
    left: 7rem;
    top: 4rem;
    align-self: center;
  }
  .banner_back {
    width: 15rem;
    left: 2rem;
    top: 0rem;
  }
  .btn {
    background-color: aliceblue;
    padding: 0.5rem;
    font-weight: bold;
    transition: 300ms all;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn:hover {
    cursor: pointer;
  }
  .join {
    position: absolute;
    right: 0.6rem;
    top: 0.3rem;
    width: 140px;
    height: 50px;
    border-width: 1px;
    font-size: 1.1rem;
    color: var(--red);
    border: none;
    font-weight: bold;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    background: aliceblue;
  }
  .join:hover {
    background-color: aliceblue;
    box-shadow: 0px 10px 14px 0px rgb(87, 6, 6);
    color: var(--red);
    text-shadow: 0px 0.3px 0px rgba(87, 6, 6);
  }
}
